default_stages: [pre-commit]

repos:
  - repo: https://github.com/Woile/commitizen
    rev: v4.13.7
    hooks:
      - id: commitizen
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        verbose: true
        language: node
        entry: yarn --cwd frontend run eslint
        pass_filenames: false
        files: .*\.tsx?$

  - repo: local
    hooks:
      - id: tsc
        name: tsc
        verbose: true
        language: node
        entry: yarn --cwd frontend/ run tsc --project tsconfig.json
        files: \.tsx?$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff-check
        args: [--fix, --config=backend/pyproject.toml]
      - id: ruff-format
        args: [--config=backend/pyproject.toml]

  - repo: https://github.com/gitguardian/ggshield
    rev: v1.47.0
    hooks:
      - id: ggshield
        language_version: python3
        stages: [pre-commit, pre-push]
