services:
  frontend:
    build:
      context: frontend
      target: prod
      args:
        NEXT_PUBLIC_BASE_URL: https://caviardeul.local
    env_file:
      - frontend/.env
    depends_on:
      - backend
    networks:
      - nginx_network
    expose:
      - 3000
    restart: always

  backend:
    build:
      context: backend
      target: prod
    env_file:
      - backend/.env
    volumes:
      - staticdata:/app/static
    depends_on:
      - postgres
      - redis
    networks:
      - db_network
      - nginx_network
    expose:
      - 5000
    restart: always

  worker:
    build:
      context: backend
      target: prod
    env_file:
      - backend/.env
    depends_on:
      - postgres
      - redis
    networks:
      - db_network
    restart: always
    command: taskiq worker worker:broker

  scheduler:
    extends:
      service: worker
    command: taskiq scheduler worker:scheduler

  nginx:
    extends:
      file: docker-compose.yml
      service: nginx

  postgres:
    extends:
      file: docker-compose.yml
      service: postgres
    ports:
      - "127.0.0.1:5432:5432"

  redis:
    extends:
      file: docker-compose.yml
      service: redis
    ports:
      - "127.0.0.1:6379:6379"

networks:
  db_network:
  nginx_network:

volumes:
  dbdata:
  staticdata:
