services:
  frontend:
    extends:
      file: docker-compose.dev.yml
      service: frontend
    build:
      context: frontend
      target: dev
    volumes:
      - ./frontend/.next/:/app/.next/
      - ./frontend/:/app/

  backend:
    extends:
      file: docker-compose.dev.yml
      service: backend
    build:
      context: backend
      target: dev
    volumes:
      - ./backend/:/app/
    command: python manage.py runserver 0.0.0.0:5000

  taskiq:
    extends:
      file: docker-compose.dev.yml
      service: taskiq
    build:
      context: backend
      target: dev
    volumes:
      - ./backend/:/app/
    command: taskiq worker worker:broker

  nginx:
    extends:
      file: docker-compose.dev.yml
      service: nginx

  postgres:
    extends:
      file: docker-compose.dev.yml
      service: postgres
    ports:
      - "127.0.0.1:5432:5432"

  redis:
    extends:
      file: docker-compose.dev.yml
      service: redis

networks:
  db_network:
  nginx_network:

volumes:
  dbdata:
  staticdata:
