html,
body {
  padding: 0;
  margin: 0;
  font-family: "Liberation Sans", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// variables
$dark1: #202020;
$dark2: #101010;
$grey1: #303040;
$red1: #d03030;
$lightBlue: #0090ff;
$light1: #a0a0a0;
$light2: #ccc;
$light3: #ddd;
$light4: #eee;

$navbarHeight: 60px;
$footerHeight: 0;
$guessInputHeight: 65px;
$historyWidth: 30%;

$breakpoint: 800px;

// dark/light mode
:root {
  --color-background: #{$dark2};
  --color-text: #{$light3};
}

// mixins
@mixin media-max($_max-width) {
    @media screen and (max-width: $_max-width) {
        &{ @content; }
    }
}

// webkit scrollbar style
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $light4;
}

::-webkit-scrollbar-thumb {
  background-color: $light2;
  border-radius: 20px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: $light1;
  }
}

// main
body {
  background-color: var(--color-background);
  color: $light2;
  height: 100vh;
  overflow: auto;
  transition: color 0.5s ease-in, background-color 0.5s ease-out;

  @include media-max($breakpoint) {
    .medium-up {
      display: none;
    }
  }
}

// navbar
nav {
  align-items: center;
  background-color: $dark1;
  color: $light4;
  display: flex;
  flex-flow: row wrap;
  height: $navbarHeight;
  justify-content: left;
  padding: 0 20px;
  min-width: 100%;

  @include media-max($breakpoint) {
    padding: 0 10px;
  }

  h1 {
    font-size: 1.1rem;
    font-weight: 600;
  }

  ul {
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    list-style: none;
    flex: 1;

    @include media-max($breakpoint) {
      padding: 0 0 0 10px
    }

    li {
      cursor: pointer;
      white-space: nowrap;
      &.divider {
        flex: 1;
      }
      &.left {
        padding-right: 40px;
        @include media-max($breakpoint) {
          padding-right: 15px;
        }
      }
    }
  }
}

// info modal
.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .modal-background {
    top: 0;
    left: 0;
    position: absolute;
    background-color: $dark1;
    opacity: 0.8;
    width: 100%;
    height: 100%;
  }

  .modal {
    color: $dark1;
    position: absolute;
    top: 30%;
    left: 50%;
    line-height: 1.5rem;
    transform: translate(-50%, -30%);
    background-color: $light4;
    padding: 20px;
    border-radius: 5px;
    max-width: min(600px, 90vw);
    min-width: 350px;
    height: auto;
    max-height: 80vh;
    overflow: auto;

    a {
      color: $lightBlue;
    }

    .modal-buttons {
      display: flex;
      flex-flow: row-reverse wrap;
      justify-content: space-between;

      button {
        margin-top: 20px;
        background-color: $dark1;
        color: $light4;
        font-weight: 600;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;

        &.danger {
          background-color: $red1;
          color: $light3;
        }
      }
    }

    table {
      border-collapse: collapse;
      text-align: left;
      width: 100%;

      @include media-max($breakpoint) {
        font-size: 0.8rem;
      }

      thead {
        font-weight: bold;
        border-bottom: 3px solid $grey1;
      }

      tbody {
        display: block;
        max-height: 70vh;
        overflow: auto;
        tr {
          border-bottom: 1px solid $light1;
        }
      }

      thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
      }

      th, td {
        padding: 10px;
      }
    }
  }
}

// game
#game {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: calc(100vh - #{$navbarHeight + $footerHeight});

  .left-container {
    height: calc(100vh - #{$navbarHeight + $footerHeight});
    width: #{100% - $historyWidth};

    @include media-max($breakpoint) {
      width: 100%;
      height: 60%;
    }
  }

  .right-container {
    width: $historyWidth;

    @include media-max($breakpoint) {
      width: 100%;
      height: 40%;
    }
  }

  .loader {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;

    .spinner {
      width: 40px;
      height: 40px;
      margin: 100px auto;
      background-color: var(--color-text);

      border-radius: 100%;
      animation: animation 1.0s infinite ease-in-out;
    }

    @keyframes animation {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1.0);
        opacity: 0;
      }
    }
  }

  .article-container {
    color: var(--color-text);
    font-family: monospace;
    font-size: 1.3rem;
    line-height: 2rem;
    padding: 0 20px;
    height: calc(100vh - #{$navbarHeight + $footerHeight + $guessInputHeight});
    overflow: auto;

    @include media-max($breakpoint) {
      font-size: 1.1rem;
      line-height: 1.7rem;
      height: calc(100% - #{$guessInputHeight});
    }

    .word {
      box-sizing: border-box;
      border: 1px solid transparent;

      &.selected {
        color: $lightBlue;
      }
    }

    .caviarded {
      background-color: var(--color-text);
      border: solid 1px var(--color-text);
      &:nth-of-type(5n) {
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      }
      &:nth-of-type(5n + 1) {
        border-radius: 225px 30px 255px 30px/30px 255px 30px 225px;
      }
      &:nth-of-type(5n + 2) {
        border-radius: 200px 30px 255px 20px/20px 215px 30px 250px;
      }
      &:nth-of-type(5n + 3) {
        border-radius: 220px 50px 215px 30px/40px 240px 20px 210px;
      }
      &:nth-of-type(5n + 4) {
        border-radius: 30px 255px 30px 225px/30px 225px 30px 250px;
      }
    }
  }

  .guess-history, .game-information {
    background-color: $dark1;
    color: $light3;
    height: calc(100vh - #{$navbarHeight + $footerHeight});
    overflow-y: auto;
    width: 100%;

    @include media-max($breakpoint) {
      height: 100%;
    }
  }

  .guess-history {
    padding: 0;
    table {
      border-collapse: collapse;
      text-align: left;
      width: 100%;

      thead {
        font-weight: bold;
        border-bottom: 3px solid $light3;
      }

      tbody tr {
        border-bottom: 1px solid $grey1;

        &:hover, &.selected {
          background-color: $grey1;
          &.clickable {
            cursor: pointer;
            background-color: $light1;
          }
        }
      }

      td, th {
        padding: 10px;
      }
    }
  }

  .game-information {
    padding: 0 20px;
    a {
      color: $lightBlue;
    }
  }

  .guess-input {
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color: $dark1;
    height: $guessInputHeight;
    width: 100%;

    .article-navigation {
      align-items: center;
      background-color: $dark2;
      border: 1px solid $light3;
      border-right: 0;
      cursor: pointer;
      display: flex;
      height: 40px;
      justify-content: center;
      width: 40px;
    }

    input {
      height: 40px;
      font-size: 1rem;

      &[type="text"] {
        border: 0;
        border-radius: 0;
        background-color: $light4;
      }
      &[type="submit"] {
        background-color: $dark2;
        border: 1px solid $light3;
        border-left: 0;
        color: $light4;
        cursor: pointer;
        padding: 0 20px;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: $grey1;
        }
      }
    }
  }
}

// footer
footer {
  height: $footerHeight;
}
