html,
body {
  padding: 0;
  margin: 0;
  font-family: "Liberation Sans", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// variables
$dark1: #202020;
$dark2: #101010;
$grey1: #303040;
$red1: #d03030;
$lightBlue: #0090ff;
$light1: #a0a0a0;
$light2: #ccc;
$light3: #ddd;
$light4: #eee;

$navbarHeight: 60px;
$footerHeight: 0;
$guessInputHeight: 65px;
$historyWidth: 30%;

$breakpoint: 800px;

// dark/light mode
:root {
  --color-background: #{$dark2};
  --color-text: #{$light3};
}

// mixins
@mixin media-max($_max-width) {
  @media screen and (max-width: $_max-width) {
    & {
      @content;
    }
  }
}

// webkit scrollbar style
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $light2;
  border-radius: 20px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: $light1;
  }
}

// main
body {
  background-color: var(--color-background);
  color: $light2;
  height: 100vh;
  overflow: auto;
  transition:
    color 0.5s ease-in,
    background-color 0.5s ease-out;

  @include media-max($breakpoint) {
    .medium-up {
      display: none;
    }
  }
}

// navbar
nav {
  align-items: center;
  background-color: $dark1;
  color: $light4;
  display: flex;
  flex-flow: row wrap;
  height: $navbarHeight;
  justify-content: left;
  padding: 0 20px;
  min-width: 100%;

  .hamburger {
    display: none;

    @include media-max($breakpoint) {
      align-items: center;
      background-color: $dark2;
      border: 2px solid $light1;
      border-radius: 5px;
      color: $light4;
      display: flex;
      flex-flow: column;
      font-weight: normal;
      height: 2.3rem;
      justify-content: space-evenly;
      margin: 0 10px 0 0;
      padding: 5px;
      transition: transform 0.2s ease-in-out;
      width: 2.5rem;

      .line {
        border: 2px solid $light4;
        border-radius: 5px;
        height: 0;
        transition:
          transform 0.2s ease-in-out,
          width 0.2s ease-in-out;
        width: 90%;
      }

      &.active {
        transform: rotate(90deg);
      }
    }
  }

  h1 {
    font-size: 1.1rem;
    font-weight: 600;
  }

  ul {
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    list-style: none;
    flex: 1;

    li {
      cursor: pointer;
      white-space: nowrap;
      &.divider {
        flex: 1;
      }
      &.left {
        padding-right: 40px;
        @include media-max($breakpoint) {
          padding-right: 15px;
        }
      }
    }
  }

  .nav-links {
    flex: 1;

    @include media-max($breakpoint) {
      height: calc(100vh - #{$navbarHeight});
      left: -100vw;
      position: absolute;
      top: $navbarHeight;
      transition: left 0.2s ease-in-out;
      width: 100vw;
      z-index: 10;

      ul {
        align-items: flex-start;
        display: flex;
        background-color: $dark1;
        border-right: 2px solid $light1;
        flex-flow: column;
        margin: 0;
        height: 100%;
        position: relative;
        width: 300px;
      }

      li {
        font-size: 1.5rem;
        padding: 10px 10px 10px 0;
      }

      .nav-link-background {
        background-color: $dark1;
        height: 100%;
        left: 0;
        opacity: 0;
        position: fixed;
        top: $navbarHeight;
        transition: opacity 0.2s ease-in-out;
        width: 0;
      }

      &.active {
        left: 0;
        .nav-link-background {
          opacity: 0.8;
          width: 100%;
        }
      }
    }

    svg {
      height: 32px;
      width: 32px;
    }
  }
}

// info modal
.modal-container {
  animation: 0.2s modal-animation;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease-in-out;
  z-index: 100;

  .modal-background {
    top: 0;
    left: 0;
    position: absolute;
    background-color: $dark1;
    opacity: 0.8;
    width: 100%;
    height: 100%;
  }

  @keyframes modal-animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .modal {
    color: $dark1;
    position: absolute;
    top: 30%;
    left: 50%;
    line-height: 1.5rem;
    transform: translate(-50%, -30%);
    background-color: $light4;
    padding: 20px;
    border-radius: 5px;
    max-height: 90vh;
    max-width: min(700px, 90vw);
    min-width: 350px;
    overflow: auto;

    a {
      color: $lightBlue;
    }

    .modal-buttons {
      display: flex;
      flex-flow: row-reverse wrap;
      justify-content: space-between;
    }
  }
}

// settings modal
.modal.settings-modal {
  .beta,
  .new {
    color: $light4;
    background-color: $lightBlue;
    border-radius: 4px;
    display: inline-block;
    font-size: 0.8rem;
    padding: 0 6px;
  }
}

// generics
button {
  margin-top: 20px;
  background-color: $dark1;
  color: $light4;
  font-weight: 600;
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;

  &.danger {
    background-color: $red1;
    color: $light3;
  }
  &.action {
    background-color: $lightBlue;
    color: $light3;
  }

  &:hover {
    box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.2);
  }
}

.button-input {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 20px auto;

  button,
  input {
    height: 30px;
    margin: 0;
  }
  button {
    border-radius: 5px 0 0 5px;
    align-items: center;
    display: flex;
    padding: 0 15px;
  }
}

.loader {
  align-items: center;
  display: flex;
  height: calc(100vh - #{$navbarHeight + $footerHeight + $guessInputHeight});
  justify-content: center;

  .spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: var(--color-text);

    border-radius: 100%;
    animation: animation 1s infinite ease-in-out;
  }

  @keyframes animation {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
}

.share-action {
  .actions {
    margin-left: 15px;
  }
  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 5px 10px;
  }
}

// main
main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: calc(100vh - #{$navbarHeight + $footerHeight});

  .error {
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
    height: calc(100vh - #{$navbarHeight + $footerHeight});
  }

  .left-container {
    height: calc(100vh - #{$navbarHeight + $footerHeight});
    overflow-y: auto;
    padding: 0 20px;
    width: #{100% - $historyWidth};

    @include media-max($breakpoint) {
      width: 100%;
      height: 60%;
    }

    h1 {
      color: var(--color-text);
    }
  }

  .right-container {
    background-color: $dark1;
    height: calc(100vh - #{$navbarHeight + $footerHeight});
    overflow-y: auto;
    padding: 0 20px;
    width: $historyWidth;

    @include media-max($breakpoint) {
      width: 100%;
      height: 40%;
    }
  }
}

// game
#game {
  .banner {
    background-color: $dark1;
    color: $light4;
    font-family: "Liberation Sans", sans-serif;
    font-size: 1rem;
    margin: 20px;
    padding: 10px;
    position: relative;

    .close {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }

  .article-container {
    color: var(--color-text);
    font-family: monospace;
    font-size: 1.3rem;
    line-height: 2rem;
    height: calc(100vh - #{$navbarHeight + $footerHeight + $guessInputHeight});
    overflow: auto;
    padding: 0 20px;
    -webkit-overflow-scrolling: touch;

    @include media-max($breakpoint) {
      font-size: 1.1rem;
      line-height: 1.7rem;
      height: calc(100% - #{$guessInputHeight});
    }

    .word {
      box-sizing: border-box;
      border: 1px solid transparent;
      white-space: nowrap;

      &.selected {
        color: $lightBlue;
      }
    }

    .caviarded {
      background-color: var(--color-text);
      border: solid 1px var(--color-text);
      position: relative;

      &:nth-of-type(5n) {
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      }
      &:nth-of-type(5n + 1) {
        border-radius: 225px 30px 255px 30px/30px 255px 30px 225px;
      }
      &:nth-of-type(5n + 2) {
        border-radius: 200px 30px 255px 20px/20px 215px 30px 250px;
      }
      &:nth-of-type(5n + 3) {
        border-radius: 220px 50px 215px 30px/40px 240px 20px 210px;
      }
      &:nth-of-type(5n + 4) {
        border-radius: 30px 255px 30px 225px/30px 225px 30px 250px;
      }

      &.word-length {
        cursor: pointer;
        user-select: none;
        &::after {
          align-items: center;
          content: attr(data-word-length);
          color: var(--color-background);
          display: flex;
          height: 100%;
          left: 0;
          justify-content: center;
          opacity: 0;
          position: absolute;
          top: 0;
          transition: opacity 0.2s ease-in-out;
          width: 100%;
        }
        &:active::after,
        &:focus::after,
        &:focus-within::after {
          opacity: 1;
        }
      }
    }
  }

  .right-container,
  .left-container {
    padding: 0;
  }

  .guess-history,
  .game-information {
    color: $light3;
    max-height: 100%;
    width: 100%;

    @include media-max($breakpoint) {
      height: 100%;
    }
  }

  .guess-history {
    padding: 0;
    table {
      border-collapse: collapse;
      text-align: left;
      width: 100%;

      thead {
        font-weight: bold;
        border-bottom: 3px solid $light3;
      }

      tbody tr {
        border-bottom: 1px solid $grey1;

        &:hover,
        &.selected {
          background-color: $grey1;
          &.clickable {
            cursor: pointer;
            background-color: $light1;
          }
        }
      }

      td,
      th {
        padding: 10px;
      }
    }
  }

  .game-information {
    border-bottom: 2px solid $light1;
    margin-bottom: 50px;
    padding: 0 20px;
    a {
      color: $lightBlue;
    }
  }

  .guess-input {
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color: $dark1;
    height: $guessInputHeight;
    width: 100%;

    .article-navigation {
      align-items: center;
      background-color: $dark2;
      border: 1px solid $light3;
      border-right: 0;
      cursor: pointer;
      display: flex;
      height: 40px;
      justify-content: center;
      width: 40px;
    }

    input {
      height: 40px;
      font-size: 1rem;

      &[type="text"] {
        border: 0;
        border-radius: 0;
        background-color: $light4;
      }
      &[type="submit"] {
        background-color: $dark2;
        border: 1px solid $light3;
        border-left: 0;
        color: $light4;
        cursor: pointer;
        padding: 0 20px;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: $grey1;
        }
      }
    }
  }
}

// new custom game
#new-custom-game {
  .left-container {
    color: var(--color-text);
  }

  form {
    margin-bottom: 50px;
  }

  .url-input {
    border: 1px solid $light4;
    padding: 10px 0 10px 10px;

    input {
      border: 0;
      height: 40px;
      margin: 0 0 0 5px;
    }
  }

  .url-copy {
    align-items: center;
    display: flex;
    flex-flow: row wrap;

    input[type="text"] {
      background-color: #fff;
      border: 1px solid $light3;
      color: $dark1;
      height: 41px;
      padding: 10px;
    }
  }

  input[type="submit"],
  input[type="button"] {
    background-color: $dark2;
    border: 1px solid $light3;
    color: $light4;
    cursor: pointer;
    height: 41px;
    margin: 0;
    padding: 0 20px;
    transition: background-color 0.2s ease-in-out;

    &:disabled {
      background-color: $grey1;
      cursor: not-allowed;
    }
    &:hover {
      background-color: $grey1;
    }
  }
}

// archives
#archives {
  .list-filters {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-bottom: 40px;

    label {
      color: var(--color-text);
      margin-left: 15px;
    }

    select {
      background-color: $dark1;
      border: 1px solid $light3;
      border-radius: 5px;
      color: $light3;
      height: 30px;
      padding: 0.3rem 1rem;
      margin: 0 0 0 5px;
    }

    button {
      border: 1px solid $light3;
      height: 30px;
      padding: 5px 8px;
      margin: 0 0 0 5px;
    }
  }

  .archive-grid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
    margin-bottom: 50px;
    padding: 0 30px;
    width: 100%;

    .archive-item {
      background-color: $dark1;
      border: 1px solid $light3;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      max-width: 400px;
      min-height: 150px;
      transition: background-color 0.2s ease-in-out;
      width: 100%;

      &:not(.completed):hover {
        background-color: $grey1;
        cursor: pointer;
      }

      .archive-info {
        align-items: flex-start;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        padding: 10px;

        h3 {
          margin: 0 0 15px 0;
        }
      }

      .article-difficulty {
        width: 10px;
        display: flex;
        flex-flow: column;

        .difficulty {
          display: flex;
          flex: 1;

          &.active {
            border: 1px solid $light3;
            &.level-0 {
              background-color: greenyellow;
            }
            &.level-1 {
              background-color: gold;
            }
            &.level-2 {
              background-color: orange;
            }
            &.level-3 {
              background-color: tomato;
            }
            &.level-4 {
              background-color: crimson;
            }
          }
        }
      }
    }
  }

  .empty-state {
    color: var(--color-text);
    text-align: center;
  }

  .right-container {
    display: flex;
    flex-flow: column;

    h3 {
      margin-top: 50px;
    }

    .separator {
      flex: 1;
    }

    .reset-account {
      margin: 20px 0 20px auto;
    }
  }
}

.modal.sync-modal {
  input {
    font-family: monospace;
    width: 90%;
  }
  .qr-code {
    margin-bottom: 20px;
    text-align: center;

    .mask {
      align-items: center;
      border: 1px solid $light1;
      color: black;
      cursor: pointer;
      display: flex;
      position: absolute;
      left: calc(50% - 64px);
      justify-content: center;
      font-size: 30px;
      height: 128px;
      width: 128px;
      background: $light3;
    }
  }
}

// about
#about {
  .left-container {
    color: var(--color-text);
    a {
      color: $lightBlue;
    }
  }
}

// footer
footer {
  height: $footerHeight;
}
